$blue: #747DEF ;
$indigo: #6237FF;
$purple:  #A1B0FC;
$pink: #D42DA3;
$red: #DF6951;
$orange: #DF6951;
$yellow:#F1A501;
$green: #79B93C;
$teal: #006380;
$cyan: #2fc4f1;
$light: #F0F4F9;
$dark-blue: #14183E;
$navy-blue: #181E4B;
$primary: $yellow;
$secondary: #5E6282;
$success: $green;
$info: $teal;
$warning: $yellow;
$danger: $red;
$light: $light;
$dark: #212832;